websockets==13.1
pytr==0.3.1
requests==2.32.3
beautifulsoup4==4.13.4
python-dateutil==2.9.0.post0
pyDes==2.0.1
google-api-python-client==2.167.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
flask[async]==3.1.0
flask-cors==5.0.1
waitress==3.0.1
cachetools==5.5.2
strictyaml==1.7.3
pytz==2025.2
pydantic==2.11.3
requests_toolbelt==1.0.0
tzlocal==5.3.1
bs4==0.0.2
pyaes==1.6.1
aiocache==0.12.3
rotki-pysqlcipher3==2024.10.1
curl_cffi==0.10.0
appdirs==1.4.4
zstandard==0.23.0
cryptography==44.0.2
Brotli==1.1.0
attrs==25.3.0
h2==4.2.0